/*background website*/

body{
  background-color:#e5d3b3;
}
header{
  background-color:#937554;
  color:black;
  text-align:center;
  padding:20px;
}
section{
  witdh:350px;
  float:left;
  padding:10px;
}
footer{
  background-color:#e5d3b3;
  color:black;
  clear:both;
  text-align:center;
  padding:5px;
  font-corier;
}
nav{
  margin: 0;
  padding: 0;
}
h2, p {
  margin: 10px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
  justify-content: center;
}
ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
ul li a:hover {
  background-color: #111111;
}


/*flip gambar*/

.flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #e5d3b3;
  perspective: 1000px;
}
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-box-front {
  background-color: #000000;
  color: black;
}
.flip-box-back {
  background-color: #B99976;
  color: white;
  transform: rotateY(180deg);
  font-family: "Sofia", sans-serif;
  font-size: 20px;
  text-shadow: 3px 3px 3px #ababab;
  text-align: center;
  align-items: center;
}

/*position property*/

.flip-container {
  display: flex;       
  gap: 20px;            
  justify-content: center;
  flex-wrap: wrap;      
}

/*icon media social*/

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  display: inline-block;
  border-radius: 4px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-whatsapp {
  background: #25d366;
  color: white;
}
.fa-instagram {
  background: #8a49a1;
  color: white;
}
.social-icons-fixed {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}
.header.container {
  position: relative;
}
.social-icons-placement {
  position: absolute;
  top: 20px;
  right: 20px;
}
.main-header-wrapper {
  position: relative;
}

/*image with button about me*/

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.nani-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("nani.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.nani-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.nani-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.nani-text button:hover {
  background-color: #555;
  color: white;
}

/*image with button education*/

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.edu-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("edu.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.edu-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.edu-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.edu-text button:hover {
  background-color: #555;
  color: white;
}

/*image with button playlist*/

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.play-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("play.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.play-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.play-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.play-text button:hover {
  background-color: #555;
  color: white;
}

/*image with button fav*/

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.fav-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("fav.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.fav-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.fav-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.fav-text button:hover {
  background-color: #555;
  color: white;
}

/*image with button quotes*/

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.quotes-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("quotes.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.quotes-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.quotes-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.quotes-text button:hover {
  background-color: #555;
  color: white;
}

/*imej and audio sebelah*/

.media-gallery{
  display: flex;
  gap: 20px;
  padding: 15px;
  overflow-x: auto;
}
.media-row {
    display: grib;   
    grib-template-column: 150px;          
    align-items: center;       
    gap: 20px;                 
    margin-bottom: 25px;       
    padding: 10px;
    background-color: #f5f5f5; 
    border-radius: 8px;
    max-width: 650px;
}
.img-wrap {
  width: 100%;
}
.img-wrap img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
}
.audio-wrap {
  width: 100%;
  min-width: 0;
}
.audio-wrap audio {
  width: 100%;
  display: block;
  height: 30px;
}

/*video sebelah*/

.video-container {
  display: flex;
  width: 88%%;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 8px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
.video-item {
  width: 40%;
  height: auto;
  box-sizing: border-box;
  margin-right: 2%;
}
.video-item:last child {
  margin-right: 0;
}

/*background image poster*/

.image-gallery-container {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-width: 1000px;
  margin: 20px auto;
}
.image-gallery-container img {
  width: 100%;
  height: auto;
  display: block;
}
.image-gallery-container a {
  display: block;
  width: 23%;
  margin 0;
  height: auto;
  border-radius: 5px;
}

/*table*/

table,td,th {
border-collapse:collapse;
background-color:white;
padding:6px;
}
th {
background-color: #d2b48c;
}

/*background image*/

.logo-list {
  display: flex;
  gap: 20px;
  padding: 20px;
  width: fit-content;
  margin: 0 auto;
}
.image-box {
  text-align: center;
  width: 200px;
  height: 350px; 
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 8px;
}
.image-box img {
    width: 100%;
    height: auto;
    maz-height: 330px;
    display: block;
    border-radius: 4px;
}

/*text shadow*/

.text-shadow {
  text-shadow: 2px 2px 5px red;
}


/* DATE BOX */

#datetime-simple {
  position: fixed;
  top: 15px;
  right: 20px;
  font-size: 13px;
  padding: 6px 12px;
  background: rgba(0,0,0,0.05);
  border-radius: 20px;
  font-family: 'Quicksand', sans-serif;
  opacity: 0.8;
  transition: all 0.3s ease;
  cursor: default;
}

/*image and text side with background*/

.container {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  padding: 30px;
  border-radius: 8px;
  max-width: 900px;
  margin: 20px auto;
}
.image-section {
    flex: 1; 
    padding-right: 20px; 
}
.image-section img {
    width: 100%; 
    height: auto; 
    display: block; 
    border-radius: 4px; 
}
.text-section {
    flex: 2; 
    padding-left: 20px; 
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    
    .image-section, .text-section {
        flex: none; 
        width: 100%; 
        padding-left: 0;
        padding-right: 0;
    }

    .image-section {
        margin-bottom: 20px; 
    }
}